[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "octawave"]
	path = octawave
	url = https://github.com/katharinabrecht-quantum/octawave
[submodule "sync3d"]
	path = sync3d
	url = https://github.com/katharinabrecht-quantum/sync3d
